.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  overflow: auto; 
}

h1 {
  text-align: center;
}

.searchInput {
  width: calc(100% - 25px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: white;
  color: black;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.countryCard {
  width: 200px;
  max-width: calc(33.33% - 20px);
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.countryImage {
  width: 80px;
  height: 80px;
}